node_modules
build
readme
logs
.env
/src/generated/prisma



<VirtualHost *:80>
    ServerName gadahq.myport.com.ng
    
    # Enable proxy modules
    ProxyPreserveHost On
    ProxyPass / http://localhost:5000/
    ProxyPassReverse / http://localhost:5000/
    
    # Logging
    ErrorLog ${APACHE_LOG_DIR}/proxy-error.log
    CustomLog ${APACHE_LOG_DIR}/proxy-access.log combined
</VirtualHost>